[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django="*"
django-cors-headers = "*"
dj-database-url = "*"
gunicorn = "*"
mapbox = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
