{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="banner"></div>
<div class="container">
  <div class="business_info">
    <div class="row title_business">
      <h1>{{business.name}}</h1>
    </div>
    <div class="row">
      <div class="col s6 logobuss">
        <div class="row">
          {%if business.logo %}
          <img class="business_logo" src="/media/{{business.logo}}"><br>
          {% else%}
          <img class="business_logo" src="https://res.cloudinary.com/dnkav9q9s/image/upload/v1560109815/nologo_fpjpnn.jpg"><br>
          {% endif %}
          {% if fav and user.is_authenticated %}
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light subbot" >You like it
            <i class="material-icons right">favorite_border</i>
          </button>
          {% elif user.is_authenticated %}
          <form  method="post">
            {% csrf_token %}
            <input type="hidden" name="person" value="{{user.id}}">
            <input type="hidden" name="business" value="{{business.id}}">
            <button class="btn waves-effect waves-light subbot" type="submit" name="action"> Make favorite
              <i class="material-icons right">favorite_border</i>
            </button>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="col s6">
        <div class="row">
          DESCRIPTION:
          {{business.description}}
        </div>
        <div class="row">
          ADDRESS:
          {{business.address}}
        </div>
        <div class="row">
          TELEPHONE:
          {{business.telephone}}
        </div>
        <div class="row">
          OWNER:
          {{business.owner}}<br>
          <a href="http://localhost:8000/user/{{business.owner.id}}/">
            <img class="owner_photo" src="/media/{{business.owner.profile.avatar}}">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id='map' width="100%" style='height:400px'></div>

  <script>
    mapboxgl.accessToken = '{{ mapbox }}'
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      center: [{{business.location_latitude}} , {{business.location_longitude}}],
      zoom: 13,
      bearing: 180,
    });


    map.on('load', function() {
      map.loadImage('https://res.cloudinary.com/dnkav9q9s/image/upload/v1559923832/froggo_enqndo.png', function(error, image) {
        if (error) throw error;
        map.addImage('cat', image);
        map.addLayer({
          "id": "points",
          "type": "symbol",
          "source": {
            "type": "geojson",
            "data": {
              "type": "FeatureCollection",
              "features": [{
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [{{business.location_latitude}} , {{business.location_longitude}}],
                }
              }]
            }
          },
          "layout": {
            "icon-image": "cat",
            "icon-size": 0.06
          }
        });
      });
    });
  </script>
</div>

{% endblock %}
