{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="first_block col s12 l12">
    <div class="searcher">
      <form action="/search" class="form_search" method="get">
        <div class="row mainsearch">
          <div class="input-field col l8 s8 ">
            <i class="material-icons prefix">search</i>
            <input type="text" name="searcher" id="searcher">
            <label class="search_label" for="autocomplete-input">What are you looking for?</label>
          </div>
          <div class="input-field subbot col l4 s4 ">
            <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h3>Types of Business</h3>
      <div class="col l6 s12">
        <div class="card">
        <div class="card-image">
          <img class="cardimg" src="https://res.cloudinary.com/dnkav9q9s/image/upload/v1560158966/shop_npglcr.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">SHOPS / RESTAURANTS</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <form action="/searchb"  method="get">
              <input type="hidden" name="type" id="type" value=2>
              <button class="btn waves-effect waves-light subbot" type="submit" name="action">Search</button>
          </form>
        </div>
      </div>
      </div>
      <div class="col l6 s12">
        <div class="card">
        <div class="card-image">
          <img class="cardimg" src="https://res.cloudinary.com/dnkav9q9s/image/upload/v1560159211/service_ioa56l.jpg">
        </div>
        <div class="card-content">
          <span class="card-title">SERVICES</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <form action="/searchb"  method="get">
              <input type="hidden" name="type" id="type" value=1>
              <button class="btn waves-effect waves-light subbot" type="submit" name="action">Search</button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
