{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <h2>New Business</h2>
  <form method="post" enctype="multipart/form-data" id="businessForm" data-categories-url="{% url 'ajax_load_categories' %}" novalidate>
    {% csrf_token %}
    {% for field in form %}

    <div class="input_fields">

      <div class="input_form">
        {% if field.name == "name" %}
        <i class="material-icons">business_center</i>
        {{ field.label_tag }}
        {% elif field.name == "description" %}
        <i class="material-icons">edit</i>
        {{ field.label_tag }}
        {% elif field.name == "address" %}
        <i class="material-icons">location_on</i>
        {{ field.label_tag }}
        {% elif field.name == "telephone" %}
        <i class="material-icons">contact_phone</i>
        {{ field.label_tag }}
        {% elif field.name == "typebusiness" %}
        <i class="material-icons">star_border</i>
        {{ field.label_tag }}
        {% elif field.name == "category" %}
        <i class="material-icons">poll</i>
        {{ field.label_tag }}
        {% elif field.name == "logo" %}
        <i class="material-icons">crop_original</i>
        {{ field.label_tag }}
        {% elif field.name == "photo" %}
        <i class="material-icons">photo_camera</i>
        {{ field.label_tag }}
        {% endif %}

      </div>
      <div>
        {{ field }}
      </div>
      {% if field.help_text %}
      <small style="color: blue">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
      <p style="color: red">{{ error }}</p>
      {% endfor %}
    </div>

    {% endfor %}
    <div class="send_sign">
      <button class="btn waves-effect waves-light subbot" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>

</div>


<script>
  </script>
{% endblock %}
