{% extends 'base.html' %}
{% load staticfiles %}
{% load my_tags %}

{% block content %}
<div class="container">
  <div class="first_part">

  </div>
  <div class="row">
    <h4>{{ person }}'s profile</h4>
    <div class="col s6">
      <img src="{{path}}" alt="profile_picture" class="profile_picture">
    </div>
    <div class="col s6">
      <div class="row">
        <h5>
          {{person.first_name}} {{person.last_name}}
        </h5>

      </div>
      <div class="row">
        <h5>
          Bio:
        </h5>
        {{person.profile.bio}}
      </div>
      <div class="row">
        <h5>
          Type of user:
        </h5>
        {% if person.type_of_user == 'business_owner' %}
       <p class="type_user_b">Business Owner</p>
       {% elif person.type_of_user == 'user' %}
      <p class="type_user_u">User</p>
       {% endif %}
      </div>
    </div>
  </div>
  <hr/>

  {% if user.type_of_user == 'business_owner' and user.is_authenticated and user.id == person.id%}
  <a class="waves-effect waves-light btn modal-trigger" href="/newbusiness">New Business/Service</a>

  <div class="row">
    <h3>Your Businesses</h3>
    {% if businesses%}

       {% for  favorite in businesses %}
       {% if forloop.counter|modulo:3 == 1 %}
         <div class="row">
     {% endif %}

     <div class="col s4">
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           {% if not favorite.logo %}
              <img class="activator cardimg" src="https://res.cloudinary.com/dnkav9q9s/image/upload/v1560109815/nologo_fpjpnn.jpg">
           {% else %}
              <img class="activator cardimg" src="/media/{{favorite.photo}}">
           {%endif%}

         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">{{favorite.name}}<i class="material-icons right">more_vert</i></span>
           <p><a href="/business/{{favorite.id}}">View More</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">{{favorite.name}}<i class="material-icons right closi">close</i></span>
           {% if favorite.typebusiness|stringformat:"s" == "services"  %}
             <p class="result_service">Type : Service</p>
             {% elif favorite.typebusiness|stringformat:"s" == "products"  %}
               <p class="result_product">Type : Shop/Restaurant</p>
           {% endif %}
           {% if favorite.category|stringformat:"s" == "plumber"  %}
             <p class="category_plumber">Category : Plumber</p>
           {% elif favorite.category|stringformat:"s" == "restaurant"  %}
             <p class="category_restaurant">Category: Restaurant</p>
           {% elif favorite.category|stringformat:"s" == "additions_remodels"  %}
             <p class="category_additions_remodels">Category: Additions & Remodels</p>
           {% elif favorite.category|stringformat:"s" == "carpentry"  %}
             <p class="category_carpentry">Category: Carpentry</p>
           {% elif favorite.category|stringformat:"s" == "jewlery_shop"  %}
             <p class="category_jewlery_shop">Category: Jewlery Shop</p>
           {% elif favorite.category|stringformat:"s" == "crafts_shop"  %}
             <p class="category_crafts_shop">Category: Crafts Shop</p>
           {% endif %}
         </div>
       </div>
     </div>


     {% if forloop.last or forloop.counter|modulo:3 == 0 %}
         </div>
     {% endif %}

       {% endfor %}
    {% else %}
       <h4>Not businesses added yet!!</h4>
    {% endif%}
  </div>
  {% endif %}
  <div class="row">
    <h3>Favorites</h3>
    {% if fav%}

       {% for  favorite in fav %}
       {% if forloop.counter|modulo:3 == 1 %}
         <div class="row">
     {% endif %}

     <div class="col s4">
       <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           {% if not favorite.business.logo %}
              <img class="activator cardimg" src="https://res.cloudinary.com/dnkav9q9s/image/upload/v1560109815/nologo_fpjpnn.jpg">
           {% else %}
              <img class="activator cardimg" src="/media/{{favorite.business.photo}}">
           {%endif%}

         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">{{favorite.business.name}}<i class="material-icons right">more_vert</i></span>
           <p><a href="/business/{{favorite.business.id}}">View More</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">{{favorite.business.name}}<i class="material-icons right closi">close</i></span>
           {% if favorite.business.typebusiness|stringformat:"s" == "services"  %}
             <p class="result_service">Type : Service</p>
             {% elif favorite.business.typebusiness|stringformat:"s" == "products"  %}
               <p class="result_product">Type : Shop/Restaurant</p>
           {% endif %}
           {% if favorite.business.category|stringformat:"s" == "plumber"  %}
             <p class="category_plumber">Category : Plumber</p>
           {% elif favorite.business.category|stringformat:"s" == "restaurant"  %}
             <p class="category_restaurant">Category: Restaurant</p>
           {% elif favorite.business.category|stringformat:"s" == "additions_remodels"  %}
             <p class="category_additions_remodels">Category: Additions & Remodels</p>
           {% elif favorite.business.category|stringformat:"s" == "carpentry"  %}
             <p class="category_carpentry">Category: Carpentry</p>
           {% elif favorite.business.category|stringformat:"s" == "jewlery_shop"  %}
             <p class="category_jewlery_shop">Category: Jewlery Shop</p>
           {% elif favorite.business.category|stringformat:"s" == "crafts_shop"  %}
             <p class="category_crafts_shop">Category: Crafts Shop</p>
           {% endif %}
         </div>
       </div>
     </div>


     {% if forloop.last or forloop.counter|modulo:3 == 0 %}
         </div>
     {% endif %}

       {% endfor %}
    {% else %}
       <h4>Not favorites added yet!!</h4>
    {% endif%}
  </div>
</div>

{% endblock %}
