{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div>
  <form action="/search" class="form_search" method="get">
    <div class="row mainsearch">
      <div class="input-field col s12 ">
        <i class="material-icons prefix">search</i>
        <input type="text" name="searcher" id="searcher">
        <label for="autocomplete-input">What are you looking for?</label>
      </div>
      <button class="btn waves-effect waves-light subbot" type="submit" name="action">Search</button>
    </div>
  </form>
</div>
{% endblock %}
