#nav_content{
  margin-left: 15px !important;
}

select{
  display: block !important;
  border: 1px solid black !important;
}

.profile_picture{
  height: 300px;
  width: 300px;
  border-radius: 15%;
}

.input_form{
  display: flex !important;
  align-items: center;
  justify-content:flex-start;
  margin-bottom: 5px;
}

.input_fields{
  margin-bottom: 12px;
}

.send_sign{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.input_form label{
  font-size: 15px !important;
}

.input_fields i {
  margin-right: 10px;
}
