body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }


#nav_content{
  margin-left: 15px !important;
}

.nav_logo{
  height:4.4vw;
  margin-left: 20px;
}

select{
  display: block !important;
  border: 1px solid black !important;
}

.profile_picture{
  height: 300px;
  width: 300px;
  border-radius: 15%;
}


.input_form{
  display: flex !important;
  align-items: center;
  justify-content:flex-start;
  margin-bottom: 5px;
}

.input_fields{
  margin-bottom: 12px;
}

.send_sign{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.input_form label{
  font-size: 15px !important;
}

.input_fields i {
  margin-right: 10px;
}

.first_block{
  background-image: url("https://res.cloudinary.com/dnkav9q9s/image/upload/v1559970285/mercadok_zf9d5a.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainsearch{
  margin-top: 20px;
  background-color: white;
  border: 4px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_label{
  width: 100% !important;
}


.mainsearch .waves-effect{
  overflow: visible !important;
}

.container{
  padding-bottom: 5vw !important;
}

.cardimg{
  height: 300px;
}

div .results{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:flex-start;
}

.banner{
  height: 5vw;
  background-image: url("https://res.cloudinary.com/dnkav9q9s/image/upload/v1560101917/spanishclubheader_p3bakf.png");
  background-size:contain;
}

.result_product{
  background-color: #49ede7;
  width: 170px;
  border-radius: 10px
}

.result_service{
  background-color: yellow;
  width: 100px;
  border-radius: 10px
}

.closi{
position: fixed;
top: 20px;
right: 10px;
}

.category_plumber{
  background-color: #4286f4;
  width: 140px;
  border-radius: 10px
}

.category_restaurant{
  background-color: #41caf4;
  width: 160px;
  border-radius: 10px
}

.category_additions_remodels{
  background-color: #41f4d6;
  width: 240px;
  border-radius: 10px
}

.category_carpentry{
  background-color: #f4af41;
  width: 165px;
  border-radius: 10px
}
.category_jewlery_shop{
  background-color:#8347e5;
  width: 180px;
  border-radius: 10px
}

.category_crafts_shop{
  background-color: #6d062a;
  width: 100px;
  border-radius: 10px
}

.category_cafe{
  background-color: #998858;
  width: 100px;
  border-radius: 10px
}

.type_user_b{
  text-align:center;
  background-color: #42ed5c;
  width: 120px;
  border-radius: 10px
}

.type_user_u{
  text-align:center;
  background-color: #e4ed42;
  width: 45px;
  border-radius: 10px
}

.business_logo{
  height: 200px;
}

.owner_photo{
  height: 70px;
  width: 80px;
  border-radius: 50%;
}

.img_type{
  height: 20vw;
}

.card-title{
  color: blue !important;
  font-weight: bold;
}

.subbot{
  margin-right: 8px;
}

.nav-wrapper{
  margin-right:30px;
  margin-left: 30px;
}

.business_info{
  border: 3px solid #0b7fa5;
  border-radius: 20px;
  margin-bottom: 40px;
}

.title_business{
  text-align: center;
}

.logobuss{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.resnot{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_no{
  height: 400px;
}

.removefav{
  background-color: #e81710;
  color: white;
  font-weight: bold;
  position:absolute;
  z-index: 2;
  top:5px;
  left: 5px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px){

  .img_no{
    height: 200px;
  }

  .businessdata{
    padding-left: 15% !important;
  }

  .business_logo{
    height: 150px;
  }

  .first_block {
    background-attachment: scroll;
  }

}
