#nav_content{
  margin-left: 15px !important;
}

select{
  display: block !important;
  border: 1px solid black !important;
}

.profile_picture{
  height: 300px;
  width: 300px;
  border-radius: 15%;
}

.form_search{
  margin-top: 2vw;
}
.input_form{
  display: flex !important;
  align-items: center;
  justify-content:flex-start;
  margin-bottom: 5px;
}

.input_fields{
  margin-bottom: 12px;
}

.send_sign{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.input_form label{
  font-size: 15px !important;
}

.input_fields i {
  margin-right: 10px;
}

.first_block{
  height: 35vw;
  background-image: url("https://res.cloudinary.com/dnkav9q9s/image/upload/v1559970285/mercadok_zf9d5a.jpg");
  background-size: cover;
}

.mainsearch{
  background-color: white;
  width: 30vw;
  border: 4px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searcher{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainsearch .subbot{
  margin-right: 1vw;
}

.mainsearch .waves-effect{
  overflow: visible !important;
}



footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 3;
}

.container{
  padding-bottom: 5vw !important;
}

.cardimg{
  height: 15vw;
}

div .results{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items:flex-start;
}

.banner{
  height: 5vw;
  background-image: url("https://res.cloudinary.com/dnkav9q9s/image/upload/v1560101917/spanishclubheader_p3bakf.png");
  background-size:contain;
}

.result_product{
  background-color: #49ede7;
  width: 170px;
  border-radius: 10px
}

.result_service{
  background-color: yellow;
  width: 100px;
  border-radius: 10px
}

.closi{
position: fixed;
top: 20px;
right: 10px;
}

.category_plumber{
  background-color: #4286f4;
  width: 140px;
  border-radius: 10px
}

.category_restaurant{
  background-color: #41caf4;
  width: 160px;
  border-radius: 10px
}

.category_additions_remodels{
  background-color: #41f4d6;
  width: 100px;
  border-radius: 10px
}

.category_carpentry{
  background-color: #f4af41;
  width: 165px;
  border-radius: 10px
}
.category_jewlery_shop{
  background-color:#9441f4;
  width: 180px;
  border-radius: 10px
}

.category_crafts_shop{
  background-color: #6d062a;
  width: 100px;
  border-radius: 10px
}

.business_logo{
  height: 10vw;
}

.owner_photo{
  height: 8vw;
  border-radius: 50%;
}
